/*Style CSS*/
/*coolors https://coolors.co/753ab0-4d2fa5-37279e-c0ccfc-a6b9fb*/

:root {
	--base-color: #F0F8FF;
	--cards-color: #FBFCF8;
	--purple-color: #37279e;
	--text-color: #0D0907;
	--list-color: #f1f8e9;
}

.darkMode {
	--base-color: #0D0907;
	--cards-color: #1a1a1a;
	--purple-color: #37279e;
	--text-color: #969696;
	--input-color: #0D0907;
	--list-color: #1a1a1a;
}

#theme-switch {
	height: 50px;
	width: 50px;
	padding: 0;
	border-radius: 50%;
	background-color: var(--base-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 20px;
	right: 20px;
	border-width: 1px;
}

#theme-switch svg {
	fill: var(--text-color);
}

#theme-switch svg:last-child {
	display: none;
}

.darkMode #theme-switch svg:first-child {
	display: none;
}

.darkMode #theme-switch svg:last-child {
	display: block;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--base-color); /*light white*/
	color: var(--text-color); /*black*/
	line-height: 1.6;
	padding: 20px;
	max-width: 500px;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
}


main {
	text-align: center;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

header h1 {
	font-size: 50px;
	color: var(--purple-color); /*purple*/
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h3 {
	color: #4d2fa5;
	font-size: 15px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
	font-size: 28px;
	margin-bottom: 10px;
}


section {
	background: var(--cards-color); /*to verify #fbfxf8*/
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}


form label {
	display: block;
	margin-bottom: 1px;
	margin-top: 30px;
	font-weight: bold;
}


form button {
	/*padding: 8px 90px;*/
	background-color: #4d2fa5;
	color: #faf9f6;
	cursor: pointer;
	border: none;
	font-size: 15px;
	margin-top: 10px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 300px;
	height: 40px;
}


button:hover {
	background-color: var(--purple-color);
}


form input {
	width: 300px;
	height: 30px;
	background-color: var(--input-color);
	border-radius: 3px;
	border-color: var(--input-color);
	color: var(--text-color);
	border-width: 1px;
}


#statistics button {
	background-color: #4d2fa5;
	color: #faf9f6;
	cursor: pointer;
	border: none;
	font-size: 15px;
	margin-top: 10px;
	border-radius: 4px;
	box-sizing: border-box;
	width: 90px;
	height: 40px;
}

#statistics button:hover {
	background-color: var(--purple-color);
}

#instructions_copyright footer p {
	font-size: 12px;
}


form button, .task_complete_button, #statistics button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover, .task_complete_button:hover, #statistics button:hover {
    background-color: var(--purple-color); /* Colore hover */
    transform: scale(1.05);    /* Leggera espansione al passaggio del mouse */
}



#task_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


#completed_tasks_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	background-color: var(--list-color);
	border: 1px solid #ddd;
	margin-bottom: 10px;
	border-radius: 5px;
}


.task_timer {
	display: block;
	text-align: center;
	font-weight: bold;
	color: #bf4342;
	margin-top: 10px;
}


.task_name {
	padding: 20px;
    display: block;
    text-align: center;
    word-wrap: break-word; /* Avvolge le parole lunghe */
    white-space: normal;   /* Consente al testo di andare a capo */
}

.task_complete_button {
	background-color: #4d2fa5;
	color: #faf9f6;
	cursor: pointer;
	border: none;
	font-size: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	height: 30px;
	margin-bottom: 10px;
}


#task_form {
	max-width: 600px;
	margin-left: auto;
  	margin-right: auto;
}

